- name: Prune docker images, volumes and containers
  docker_prune:
    containers: true
    images: true
    volumes: true
    images_filters:
       dangling: false
  register: prune_docker

- name: Show image space reclaimed
  debug:
    msg: "Removed {{ prune_docker.images | length }} image layers and reclaimed {{ prune_docker.images_space_reclaimed|filesizeformat }} space."

- name: Cleanup journals
  command: journalctl --vacuum-time=10d
  changed_when: false
  register: cleanup_journal

- name: Show journal space reclaimed
  debug:
    msg: "{{ cleanup_journal.stderr }}"
