location /restic-server/ {
    auth_basic "{{ restic_server_proxy_basic_auth_username }}";
    auth_basic_user_file /etc/nginx/conf.d/proxies/restic-server.htpasswd;
    proxy_pass http://{{ restic_server_hostname }}:8000/;
    include /etc/nginx/conf.d/proxy-params.conf;
    proxy_set_header Authorization "Basic {{ restic_server_basic_auth | string | b64encode }}";
}