- name: "Include {{ role_name }} config tasks"
  include: "{{ role_name }}-config.yml"
  when: nginx_hostname is defined
  tags:
    - nginx-config
    - nginx

- name: "Include {{ role_name }} tasks"
  include: "{{ role_name }}.yml"
  when: nginx_image is defined
  tags:
    - nginx