- name: Include groups tasks
  include_tasks: groups.yml
  when: iam_groups is defined

- name: Include users tasks
  include_tasks: users.yml
  when: iam_users is defined

- name: Include packages tasks
  include_tasks: package.yml
  when: iam_packages is defined
  