- name: Update Root user's Password
  user: 
    name: root
    password: "{{ iam_root_password | password_hash('sha512') }}"
  when: iam_root_password is defined

- name: Add users
  user:
    name: "{{ item.username }}"
    shell: "{{ item.shell | default('/bin/bash') }}"
    groups: "{{ item.groups | default('') }}"
    append: yes
  loop: "{{ iam_users }}"
  when: inventory_hostname_short in item.hosts

- name: Set authorized key
  authorized_key:
    user: "{{ item.username }}"
    state: present
    key: "{{ item.ssh_public_key }}"
  loop: "{{ iam_users }}"
  when: inventory_hostname_short in item.hosts

- name: Copy ssh private key
  copy:
    content: "{{ item.ssh_private_key }}"
    dest: "/home/{{ item.username }}/.ssh/id_ed25519"
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
    mode: "0700"
  loop: "{{ iam_users }}"
  when: item.ssh_private_key is defined and inventory_hostname_short in item.hosts

- name: Include install oh-my-zsh tasks
  include_tasks: install-oh-my-zsh.yml