- name: "Create {{ role_name }} volume"
  docker_volume:
    name: "{{ grafana_volume_name }}"

- name: "Ensure {{ role_name }} data dir exists"
  file:
    path: "{{ grafana_data_dir }}"
    state: directory

- name: "Copy {{ role_name }} conf"
  template:
    src: "templates/{{ item }}"
    dest: "{{ grafana_data_dir }}/{{ item }}"
  loop:
    - datasource.yml
    - dashboard.yml
  notify: "Restart {{ role_name }} container"

- name: "Start {{ role_name }} container {{ grafana_hostname }}"
  docker_container:
    name: "{{ grafana_hostname }}"
    labels:
      description: "{{ grafana_description }}"
    image: "{{ grafana_image }}"
    restart_policy: unless-stopped
    recreate: no
    env:
      GF_SECURITY_ADMIN_USER: "{{ grafana_admin_user }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_SMTP_ENABLED: "true"
      GF_SMTP_HOST: "{{ grafana_mail_hostname }}"
      GF_SMTP_USER: "{{ grafana_mail_username }}"
      GF_SMTP_PASSWORD: "{{ grafana_mail_password }}"
      GF_SMTP_FROM_ADDRESS: "{{ grafana_mail_from }}"
      GF_SMTP_FROM_NAME: "{{ grafana_mail_from_name }}"
      GF_SERVER_DOMAIN: "{{ grafana_server_domain }}"
      GF_SERVER_ROOT_URL: "{{ grafana_server_root_url }}"
      GF_AUTH_GENERIC_OAUTH_ENABLED: "{{ grafana_generic_oauth_enabled }}"
      GF_AUTH_GENERIC_OAUTH_NAME: "{{ grafana_generic_oauth_name }}"
      GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP: "{{ grafana_generic_oauth_sign_up }}"
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "{{ grafana_generic_oauth_client_id }}"
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ grafana_generic_oauth_client_secret }}"
      GF_AUTH_GENERIC_OAUTH_SCOPES: "{{ grafana_generic_oauth_scopes }}"
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: "{{ grafana_generic_oauth_auth_url }}"
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "{{ grafana_generic_oauth_token_url }}"
      GF_AUTH_GENERIC_OAUTH_API_URL: "{{ grafana_generic_oauth_api_url }}"
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(roles[*], 'admin') && 'Admin' || contains(roles[*], 'editor') && 'Editor' || 'Viewer'"
    volumes:
      - "{{ grafana_volume_name }}:/var/lib/grafana"
      - "{{ grafana_data_dir }}/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml"
      - "{{ grafana_data_dir }}/dashboard.yml:/etc/grafana/provisioning/dashboards/dashboard.yml"
    networks:
      - name: "{{ docker_network_name }}"
    log_driver: "{{ docker_log_driver }}"
    log_options:
      max-size: "{{ docker_log_max_size }}"
      max-file: "{{ docker_log_max_file }}"
