---
- name: Include {{ role_name }} scripts tasks
  ansible.builtin.include_tasks: "{{ role_name }}_scripts.yml"
  tags:
    - grafana

- name: Include {{ role_name }} tasks
  ansible.builtin.include_tasks: "{{ role_name }}.yml"
  when: grafana_image is defined
  tags:
    - grafana
