.vault_pass*
default.vim
.DS_Store
*.swp
run.sh
venv*
inventory
inventories
node_modules
.temp
.cache
dist
tmp
.obsidian/appearance.json
.obsidian/graph.json
.obsidian/workspace.json
.env
__pycache__
ansible.cfg
.vuepress/public/logos