[defaults]
vault_identity_list =
roles_path = ./roles
log_path = /var/log/ansible.log
callback_whitelist = profile_tasks
stdout_callback = yaml
display_skipped_hosts = false
ansible_managed = Warning: File is managed by Ansible

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
