---
- name: Include {{ role_name }} scripts tasks
  ansible.builtin.include_tasks: "{{ role_name }}_scripts.yml"
  tags:
    - cron

- name: Include {{ role_name }} tasks
  ansible.builtin.include_tasks: "{{ role_name }}.yml"
  when: cron_enabled
  tags:
    - cron

- name: Include {{ role_name }} log tasks
  ansible.builtin.include_tasks: "{{ role_name }}-jobs.yml"
  when: cron_enabled and cron_jobs is defined
  tags:
    - cron

- name: Include {{ role_name }} log tasks
  ansible.builtin.include_tasks: "{{ role_name }}-log.yml"
  when: cron_enabled and cron_jobs is defined
  tags:
    - cron
