- name: "Remove mysql container {{ mysql_hostname }}"
  docker_container:
    name: "{{ mysql_hostname }}"
    state: absent

- name: "Remove mysql volume {{ mysql_volume_name }}"
  docker_volume:
    name: "{{ mysql_volume_name }}"
    state: absent
  when: '"mysql_volume" in ansible_run_tags'
