- name: "Remove odoo container {{ odoo_hostname }}"
  docker_container:
    name: "{{ odoo_hostname }}"
    state: absent

- name: "Remove odoo volume {{ odoo_volume_name }}"
  docker_volume:
    name: "{{ odoo_volume_name }}"
    state: absent
  when: '"odoo-volume" in ansible_run_tags'

- name: "Remove odoo data dir {{ odoo_data_dir }}"
  file:
    path: "{{ odoo_data_dir }}"
    state: absent
  when: '"odoo-data" in ansible_run_tags'
