- name: "Remove prometheus container {{ prometheus_hostname }}"
  docker_container:
    name: "{{ prometheus_hostname }}"
    state: absent

- name: Remove prometheus data dir
  file:
    path: "{{ prometheus_data_dir }}"
    state: absent
  when: '"prometheus-data" in ansible_run_tags'

- name: Remove prometheus volume
  docker_volume:
    name: "{{ prometheus_volume_name }}"
    state: absent
  when: '"prometheus-volume" in ansible_run_tags'
