---
- name: Start {{ role_name }} container {{ cadvisor_hostname }}
  community.docker.docker_container:
    name: "{{ cadvisor_hostname }}"
    labels:
      description: "{{ cadvisor_description }}"
    image: "{{ cadvisor_image }}"
    restart_policy: unless-stopped
    recreate: false
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - "{{ docker_data_dir }}:/var/lib/docker:ro"
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg:/dev/kmsg
    command: --housekeeping_interval=30s --docker_only=true
    networks:
      - name: "{{ docker_network_name }}"
    network_mode: bridge
    log_driver: "{{ docker_log_driver }}"
    log_options:
      max-size: "{{ docker_log_max_size }}"
      max-file: "{{ docker_log_max_file }}"
      tag: "{{ cadvisor_hostname }}|{{ role_name }}"
