---
- name: Verify file path exists
  ansible.builtin.command: ls {{ item.path }}
  changed_when: false
  loop: "{{ restic_backup_set }}"
  when: item.type == "file"

- name: Register file backup jobs
  ansible.builtin.cron:
    name: "{{ item.id }}"
    hour: "{{ item.hour }}"
    minute: "{{ 59 | random(seed=item.id) }}"
    job: restic-main backup {{ item.path }} --tag {{ item.tags | join(' --tag ') }} {{ '&& write-node-exporter-metric -c \'' + item.id + '\' -v $?' if
      item.upload | default(true) else '; write-node-exporter-metric -c \'' + item.id + '\' -v $?' }}
    disabled: "{{ item.disabled | default(false) }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ restic_backup_set }}"
  when: item.type == "file"
