location /mysqld-exporter/metrics {
    auth_basic "{{ mysqld_exporter_proxy_basic_auth_username }}";
    auth_basic_user_file /etc/nginx/conf.d/proxies/mysqld-exporter.htpasswd;
    proxy_pass http://{{ mysqld_exporter_hostname }}:9104/metrics;
}