---
- name: Get Odoo version from revision
  ansible.builtin.set_fact:
    odoo_version: "{{ odoo_revision | regex_search('^[0-9][0-9]\\.[0-9]') }}"

- name: Show Odoo version
  ansible.builtin.debug:
    msg: "Odoo version: {{ odoo_version }}"

- name: Ensure {{ role_name }} dir exists
  ansible.builtin.file:
    path: "{{ odoo_data_dir }}/{{ item.path }}"
    state: directory
    owner: "{{ odoo_owner }}"
    group: "{{ odoo_group }}"
  loop: "{{ odoo_repos }}"

- name: Pull repo branch with ssh (branches only)
  ansible.builtin.git:
    repo: "{{ item.url }}"
    dest: "{{ odoo_data_dir }}/{{ item.path }}"
    key_file: "{{ odoo_repo_key_file }}"
    version: "{{ item.branch | default(odoo_version) }}"
    refspec: "+refs/heads/{{ item.branch | default(odoo_version) }}:refs/remotes/origin/{{ item.branch | default(odoo_version) }}"
    accept_hostkey: true
    force: true
    update: true
  when:
    - item.url is regex('git@') and odoo_repo_key_file is defined
    - item.sparse_dirs is not defined
    - item.commit is not defined
  loop: "{{ odoo_repos }}"
  notify: Restart odoo container

- name: Pull repo and checkout specific commit with ssh
  ansible.builtin.git:
    repo: "{{ item.url }}"
    dest: "{{ odoo_data_dir }}/{{ item.path }}"
    key_file: "{{ odoo_repo_key_file }}"
    version: "{{ item.commit }}"
    accept_hostkey: true
    force: true
    update: true
  when:
    - item.url is regex('git@') and odoo_repo_key_file is defined
    - item.sparse_dirs is not defined
    - item.commit is defined
  loop: "{{ odoo_repos }}"
  notify: Restart odoo container

- name: Shallow ssh clone with sparse checkout
  shell: |
    set -e
    if [ -d "{{ odoo_data_dir }}/{{ item.path }}/.git" ]; then
      cd "{{ odoo_data_dir }}/{{ item.path }}"
      CURRENT_URL=$(git config --get remote.origin.url || echo "")
      if [ "$CURRENT_URL" != "{{ item.url }}" ]; then
        cd ..
        rm -rf "{{ item.path }}"
        git init "{{ item.path }}"
        cd "{{ item.path }}"
        git config core.sshCommand "ssh -i '{{ odoo_repo_key_file }}' -o IdentitiesOnly=yes -o StrictHostKeyChecking=no"
        git config core.sparseCheckout true
        echo "{{ item.sparse_dirs | join('\n') }}" > .git/info/sparse-checkout
        git remote add origin "{{ item.url }}"
      else
        git config core.sshCommand "ssh -i '{{ odoo_repo_key_file }}' -o IdentitiesOnly=yes -o StrictHostKeyChecking=no"
      fi
      {% if item.branch is defined %}
      git fetch --depth=1 origin "{{ item.branch }}"
      {% elif item.commit is defined %}
      git fetch --depth=1 origin "{{ item.commit }}"
      {% else %}
      git fetch --depth=1 origin "{{ odoo_version }}"
      {% endif %}
      git checkout -f FETCH_HEAD
    else
      git init "{{ odoo_data_dir }}/{{ item.path }}"
      cd "{{ odoo_data_dir }}/{{ item.path }}"
      git config core.sshCommand "ssh -i '{{ odoo_repo_key_file }}' -o IdentitiesOnly=yes -o StrictHostKeyChecking=no"
      git config core.sparseCheckout true
      echo "{{ item.sparse_dirs | join('\n') }}" > .git/info/sparse-checkout
      git remote add origin "{{ item.url }}"
      {% if item.branch is defined %}
      git fetch --depth=1 origin "{{ item.branch }}"
      {% elif item.commit is defined %}
      git fetch --depth=1 origin "{{ item.commit }}"
      {% else %}
      git fetch --depth=1 origin "{{ odoo_version }}"
      {% endif %}
      git checkout FETCH_HEAD
    fi
  when:
    - item.url is regex('^git@')
    - item.sparse_dirs is defined
    - odoo_repo_key_file is defined
  loop: "{{ odoo_repos }}"
  notify: Restart odoo container

- name: Pull repo branch with http (branches only)
  ansible.builtin.git:
    repo: "{{ item.url }}"
    dest: "{{ odoo_data_dir }}/{{ item.path }}"
    version: "{{ item.branch | default(odoo_version) }}"
    refspec: "+refs/heads/{{ item.branch | default(odoo_version) }}:refs/remotes/origin/{{ item.branch | default(odoo_version) }}"
    accept_hostkey: true
    force: true
    update: true
  when:
    - item.url is regex('https://')
    - item.sparse_dirs is not defined
    - item.commit is not defined
  loop: "{{ odoo_repos }}"
  notify: Restart odoo container

- name: Pull repo and checkout specific commit with http
  ansible.builtin.git:
    repo: "{{ item.url }}"
    dest: "{{ odoo_data_dir }}/{{ item.path }}"
    version: "{{ item.commit }}"
    accept_hostkey: true
    force: true
    update: true
  when:
    - item.url is regex('https://')
    - item.sparse_dirs is not defined
    - item.commit is defined
  loop: "{{ odoo_repos }}"
  notify: Restart odoo container

- name: Shallow http clone with sparse checkout
  shell: |
    set -e
    if [ -d "{{ odoo_data_dir }}/{{ item.path }}/.git" ]; then
      cd "{{ odoo_data_dir }}/{{ item.path }}"
      CURRENT_URL=$(git config --get remote.origin.url || echo "")
      if [ "$CURRENT_URL" != "{{ item.url }}" ]; then
        cd ..
        rm -rf "{{ item.path }}"
        git init "{{ item.path }}"
        cd "{{ item.path }}"
        git config core.sparseCheckout true
        echo "{{ item.sparse_dirs | join('\n') }}" > .git/info/sparse-checkout
        git remote add origin "{{ item.url }}"
      fi
      git fetch --depth=1 origin {% if item.branch is defined %}"{{ item.branch }}"{% elif item.commit is defined %}"{{ item.commit }}"{% else %}"{{ odoo_version }}"{% endif %}
      git checkout -f FETCH_HEAD
    else
      git init "{{ odoo_data_dir }}/{{ item.path }}"
      cd "{{ odoo_data_dir }}/{{ item.path }}"
      git config core.sparseCheckout true
      echo "{{ item.sparse_dirs | join('\n') }}" > .git/info/sparse-checkout
      git remote add origin "{{ item.url }}"
      git fetch --depth=1 origin {% if item.branch is defined %}"{{ item.branch }}"{% elif item.commit is defined %}"{{ item.commit }}"{% else %}"{{ odoo_version }}"{% endif %}
      git checkout FETCH_HEAD
    fi
  when:
    - item.url is regex('https://')
    - item.sparse_dirs is defined
  loop: "{{ odoo_repos }}"
  notify: Restart odoo container

- name: Add repo to git config
  community.general.git_config:
    name: safe.directory
    scope: global
    add_mode: add
    value: "{{ odoo_data_dir }}/{{ item.path }}"
  loop: "{{ odoo_repos }}"
