---
- name: Include {{ role_name }} scripts tasks
  ansible.builtin.include_tasks: "{{ role_name }}_scripts.yml"
  tags:
    - mysql

- name: Include {{ role_name }} tasks
  ansible.builtin.include_tasks: "{{ role_name }}.yml"
  when: mysql_image is defined
  tags:
    - mysql

- name: Include docker {{ role_name }} backup from restic client role
  ansible.builtin.include_role:
    name: restic
    apply:
      tags:
        - mysql_backup
  vars:
    restic_backup_set: "{{ mysql_backup_set }}"
  when: mysql_backup_set is defined
  tags:
    - restic
    - mysql_backup
