---
- name: Dig src DNS record
  ansible.builtin.debug:
    msg: "{{ lookup('dig', item.src_hostname) }}"
  loop: "{{ nginx_proxies }}"
  when: item.ssl is defined and item.ssl
  register: dig_src
  tags:
    - check

- name: Dig host DNS record
  ansible.builtin.debug:
    msg: "{{ lookup('dig', ansible_host) }}"
  register: dig_host

- name: Fail if src IP is not resolved correctly
  ansible.builtin.fail:
    msg: DNS record for {{ item.item.src_hostname }} does not point to proxy host.
  when: item.msg is defined and item.msg != dig_host.msg and item.msg != 'NXDOMAIN'
  loop: "{{ dig_src.results }}"
  tags:
    - check

- name: Check if port 80 is open using wait_for
  ansible.builtin.wait_for:
    host: "{{ item.item.src_hostname }}"
    port: 80
    timeout: 10
    state: started
  loop: "{{ dig_src.results }}"
  when:
    - item.msg is defined
    - item.msg != 'NXDOMAIN'
    - item.item.ssl is defined
    - item.item.ssl
  register: port_80_check
  ignore_errors: true
  delegate_to: localhost
  tags:
    - check

- name: Fail if port 80 is not accessible
  ansible.builtin.fail:
    msg: "Port 80 is not accessible for {{ item.item.item.src_hostname }}. Please check firewall settings."
  when:
    - item is not skipped
    - item.failed is defined
    - item.failed
  loop: "{{ port_80_check.results }}"
  tags:
    - check
