---
- name: Include {{ role_name }} tasks
  ansible.builtin.include_tasks: "{{ role_name }}.yml"
  when: loki_image is defined
  tags:
    - loki

- name: Include {{ role_name }} nginx config tasks
  ansible.builtin.include_tasks: "{{ role_name }}_nginx_config.yml"
  when: loki_basic_auth_password is defined
  tags:
    - loki
    - loki_nginx_config
