---
- name: Include {{ role_name }} tasks
  ansible.builtin.include_tasks: "{{ role_name }}.yml"
  when: node_exporter_image is defined
  tags:
    - node_exporter

- name: Include {{ role_name }} nginx config tasks
  ansible.builtin.include_tasks: "{{ role_name }}_nginx_config.yml"
  when: node_exporter_nginx_enabled
  tags:
    - node_exporter
    - node_exporter_nginx_config
