---
- name: Start {{ role_name }} container {{ node_exporter_hostname }}
  community.docker.docker_container:
    name: "{{ node_exporter_hostname }}"
    labels:
      description: "{{ node_exporter_description }}"
    image: "{{ node_exporter_image }}"
    restart_policy: unless-stopped
    volumes:
      - /:/host:ro,rslave
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
    command: --collector.textfile.directory=/host/var/tmp --path.rootfs=/host --collector.systemd
    networks:
      - name: "{{ docker_network_name }}"
    log_driver: "{{ docker_log_driver }}"
    log_options:
      max-size: "{{ docker_log_max_size }}"
      max-file: "{{ docker_log_max_file }}"
      tag: "{{ node_exporter_hostname }}|{{ role_name }}"

- name: Copy {{ role_name }} scripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/local/bin/{{ item }}
    mode: +x
  loop:
    - write-docker-volume-metric
    - write-docker-up-metric
    - write-docker-memory-metric

- name: Check if cron is installed
  ansible.builtin.command: which cron
  register: cron_check
  failed_when: false
  changed_when: false

- name: Cron job to run {{ role_name }} background jobs
  ansible.builtin.cron:
    name: Run {{ item.name }} job
    minute: "{{ item.minute | default('0') }}"
    job: "{{ item.job }}"
  loop:
    - { name: "write-docker-volume-metric", job: "write-docker-volume-metric" }
    # - { name: "write-docker-up-metric", job: "write-docker-up-metric", minute: "*/5" }
    # - { name: "write-docker-memory-metric", job: "write-docker-memory-metric", minute: "*/5" }
  when: cron_check.rc == 0
