- name: Gather package facts
  package_facts:
    manager: auto

- name: "Fail if package {{ restic_server_requires_package }} is not installed"
  fail:
    msg: "Package {{ restic_server_requires_package }} is not installed!"
  when: restic_server_requires_package not in ansible_facts.packages

- name: "Configure user access for {{ role_name }}"
  htpasswd:
    path: "{{ restic_server_backup_dir }}/.htpasswd"
    name: "{{ restic_server_user }}"
    crypt_scheme: ldap_sha1
    password: "{{ restic_server_password }}"

- name: "Start {{ role_name }} container {{ restic_server_hostname }}"
  docker_container:
    name: "{{ restic_server_hostname }}"
    labels:
      description: "{{ restic_server_description }}"
    image: "{{ restic_server_image }}"
    recreate: "true"
    restart_policy: unless-stopped
    env:
      OPTIONS: "--prometheus"
      HOSTNAME: "{{ restic_server_hostname }}"
    volumes:
      - "{{ restic_server_backup_dir }}:/data"
    networks:
      - name: "{{ docker_network_name }}"
    log_driver: "{{ docker_log_driver }}"
    log_options:
      max-size: "{{ docker_log_max_size }}"
      max-file: "{{ docker_log_max_file }}"
      tag: "{{ restic_server_hostname }}|{{ role_name }}"