---
- name: Include {{ role_name }} tasks
  ansible.builtin.include_tasks: "{{ role_name }}_tasks.yml"
  when: prometheus_image is defined
  tags:
    - prometheus

- name: Include {{ role_name }} nginx config tasks
  ansible.builtin.include_tasks: "{{ role_name }}_nginx_config.yml"
  tags:
    - prometheus
    - prometheus_nginx_config
