---
- name: Add {{ role_name }} gpg apt key
  ansible.builtin.get_url:
    url: "{{ docker_apt_url }}"
    state: present

- name: Add {{ role_name }} repo
  ansible.builtin.apt_repository:
    repo: "{{ docker_apt_repo }}"
    state: present

- name: Install required {{ role_name }} packages
  ansible.builtin.include_role:
    name: packages
  vars:
    group_packages: "{{ docker_packages }}"
  when: docker_packages is defined
