location /bigbluebutton-exporter/metrics {
    auth_basic "{{ bigbluebutton_exporter_proxy_basic_auth_username }}";
    auth_basic_user_file /etc/nginx/conf.d/proxies/bigbluebutton-exporter.htpasswd;
    proxy_pass http://{{ bigbluebutton_exporter_hostname }}:9688/metrics;
    include /etc/nginx/conf.d/proxy-params.conf;
}