---
- name: Ensure {{ role_name }} scripts dir exists
  ansible.builtin.file:
    path: "{{ postgres_scripts_dir }}"
    state: directory

- name: Copy {{ role_name }} scripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ postgres_scripts_dir }}/{{ item }}"
    mode: +x
  loop:
    - docker-postgres-backup
    - docker-postgres-create
    - docker-postgres-restore
    - docker-postgres-list
    - docker-postgres-drop
    - docker-postgres-patch
    - docker-postgres-duplicate
    - docker-postgres-size
    - docker-postgres-shell
    - docker-postgres-upgrade
    - docker-postgres-rename
