---
- name: Include docker volume role
  ansible.builtin.include_role:
    name: docker_volume
  vars:
    docker_volume_name: "{{ postgres_volume_name }}"
  when: postgres_volume_name is defined

- name: Start {{ role_name }} container {{ postgres_hostname }}
  community.docker.docker_container:
    name: "{{ postgres_hostname }}"
    labels:
      description: "{{ postgres_description }}"
    image: "{{ postgres_image }}"
    restart_policy: unless-stopped
    env:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ postgres_config_map[0].db }}"
    command: [postgres, -c, "max_connections={{ postgres_max_connections }}"]
    volumes: "{{ postgres_volumes }}"
    ports: "{{ postgres_ports }}"
    networks:
      - name: "{{ docker_network_name }}"
    log_driver: "{{ docker_log_driver }}"
    log_options:
      max-size: "{{ docker_log_max_size }}"
      max-file: "{{ docker_log_max_file }}"
      tag: "{{ postgres_hostname }}|{{ role_name }}"
  register: start_postgres_container

- name: Wait for {{ role_name }} container
  ansible.builtin.pause:
    seconds: "3"
  when: start_postgres_container.changed

- name: List {{ role_name }} databases
  ansible.builtin.command: docker-postgres-list -c "{{ postgres_hostname }}"
  when: postgres_config_map|length > 0
  register: postgres_databases

- name: Create {{ role_name }} databases
  ansible.builtin.command: docker-postgres-create -c "{{ postgres_hostname }}" -d "{{ item.db }}"
  loop: "{{ postgres_config_map }}"
  when: postgres_config_map|length > 0 and item.db not in postgres_databases.stdout
