- name: "Create {{ role_name }} volume"
  docker_volume:
    name: "{{ postgres_volume_name }}"

- name: "Start {{ role_name }} container {{ postgres_hostname }}"
  docker_container:
    name: "{{ postgres_hostname }}"
    labels:
      description: "{{ postgres_description }}"
    image: "{{ postgres_image }}"
    restart_policy: unless-stopped
    recreate: no
    env:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ postgres_db }}"
    volumes:
      - "{{ postgres_volume_name }}:/var/lib/postgresql/data"
    ports: "{{ postgres_ports | default([]) }}"
    networks:
      - name: "{{ docker_network_name }}"
    log_driver: "{{ docker_log_driver }}"
    log_options:
      max-size: "{{ docker_log_max_size }}"
      max-file: "{{ docker_log_max_file }}"
      tag: "{{ postgres_hostname }}|{{ role_name }}"

- name: "Copy {{ role_name }} backup scripts"
  copy:
    src: "{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    mode: +x
  loop:
    - docker-postgres-backup
    - docker-postgres-restore

- name: "Include docker {{ role_name }} backup from restic client role"
  include_role:
    name: restic-client
  vars:
    restic_backup_sets: "{{ postgres_backup_sets }}"
  when: postgres_backup_sets is defined