on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Clone taskfile
        run: ./task clone-taskfile
      - name: Install
        run: ./task install
      - name: Copy ansible config
        run: cp ansible.cfg.template ansible.cfg
      - name: Login docker
        run: ./task login-docker ${{ secrets.CONTAINER_REGISTRY_USERNAME }} ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}
      - name: Test project
        run: ./task test-project
      - name: Test scripts
        run: ./task test-scripts
        env:
          ODOO_ENTERPRISE_CODE: ${{ secrets.ODOO_ENTERPRISE_CODE }}